.github-scraper-component-label {
    font-size: 130%;
    font-weight: bold;
}

.component-topics .github-scraper-component-content {
    border-collapse: collapse;
    box-sizing: border-box;
    display: block;
    line-height: 18px;
    overflow-wrap: break-word;
}

.github-scraper-topic {
    margin: 3px;
    display: inline-block;
    background-color: rgba(56, 138, 253, 0.301);
    color: #436388;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 70%;
}

.github-scraper-topic:hover {
    margin: 3px;
    display: inline-block;
    background-color: rgba(56, 138, 253, 0.74);
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 70%;
}

.component-contributors .github-scraper-component-content {
    border-collapse: collapse;
    box-sizing: border-box;
    display: block;
    line-height: 18px;
    overflow-wrap: break-word;
}

.contributor-miniature {
    margin: 3px;
    display: inline-block;
    text-align: center;
}

.component-contributors .github-scraper-component-content > button {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: skyblue;
}